<!-- For for adding a dog to the park -->

<!-- Initialize the form -->



<%= form_tag(controller: "parks", action: "add_dog", method: "post") do  %>

  <!-- <p id="error"><%= flash[:error] %></p> -->

  <div class="field" >

    <%= label_tag :dog_name, "Select a dog:" %>

    <%= select_tag( :dog_name,
    options_for_select((@user.dogs - @park.dogs).collect{ |dog| [dog.name, dog.name]}),
    {:style => 'width:150px; background-color:white; height: 20px;'})
    %>

  </div>

  <div class="field">
    <%= label_tag :time, "When do you usually walk this dog?" %>

    <%= select_tag :time, options_for_select(["6am", "7am", "8am", "9am", "10am", "11am", "12pm",
      "1pm", "2pm", "3pm", "4pm", "5pm", "6pm", "7pm", "8pm", "9pm"]), {:style => 'width: 80px; background-color:white;'} %>

  </div>

  <%= submit_tag "Add Dog", {:style => 'width: fit-content; align-self: right; padding: 5px;'}%>

<% end %>
