<%= form_with(model: park, local: true) do |form| %>

<!-- This block does stuff with errors (I don't really understand it) -->
  <% if park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
      <% park.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div id="map" style="height:300px; width:500px;"></div> -->

  <%= form.hidden_field :longitude, id: :longitude %>
  <%= form.hidden_field :latitude, id: :latitude %>


  <div class="field">
    <%= form.label :name %>
    <div class='row'>
      <%= form.text_field( :name, id: :park_name, :required => true) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :park_address %>
  </div>

  <br>
  <div class="field check">
    <%= form.check_box :offlead, id: :park_offlead %>
    <%= form.label :offlead %>
  </div>

  <div class="field check">
    <%= form.check_box :fence, id: :park_fence %>
    <%= form.label :fence %>
  </div>

  <div class="field check">
    <%= form.check_box :bag, id: :park_bag %>
    <%= form.label :bag %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  var markers;

  function getLocation() {
    navigator.geolocation.getCurrentPosition(initMap);
  }

  function initMap(currentLocation) {
    markers = [];
    var locationMarker = {lat: <%= @park.latitude || 'currentLocation.coords.latitude' %>, lng: <%= @park.longitude || 'currentLocation.coords.longitude' %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: locationMarker
    });

    var marker = new google.maps.Marker({
      position: locationMarker,
      map: map
    });
    markers.push(marker)


    map.addListener('click', function(e) {
      placeMarkerAndPanTo(e.latLng, map);
    });
  }

  function placeMarkerAndPanTo(latLng, map) {
    // clear current markers
    markers.forEach(function(m) {
      m.setMap(null)
    })
    // create new marker
    var marker = new google.maps.Marker({
      position: latLng,
      map: map
    });


    map.panTo(latLng);
    markers.push(marker)
    // set form data
    document.getElementById('latitude').value = latLng.lat()
    document.getElementById('longitude').value = latLng.lng()
  }

  function onMapLoad() {
    getLocation()
  }

</script>
