<!-- View for Parks.index -->

<div class='contents'>
  <p id="notice"><%= notice %></p>

  <!-- <div class='add-new'>
    <%= link_to 'Add a New Park', new_park_path %>
  </div> -->

  <h1>Parks</h1>

  <div class = 'display-cards'>
    <% @parks.each do |park| %>
      <%= link_to park do %>
        <div class='card'>
              <span style='font-size: 30px;'>
                <%= park.name %>
              </span>
          <br><br>
          <%= park.address %>
        </div>
      <% end %>
    <% end %>

    <%= link_to (parks_path) do %>
      <div class='card add-button'>
        <p style ='font-size:80px; float: left; font-weight: 100; margin: 0; line-height:80px; width: 300px; text-align: center;'>
          +
        </p>
      </div>
    <% end %>
  </div>
</div>
