<!-- View for Parks.index -->

<div class='contents'>
  <p id="notice"><%= notice %></p>

  <div class='add-new'>
    <%= link_to 'Add a New Park', new_park_path %>
  </div>

  <h1>Parks</h1>

  <% @parks.each do |park| %>
    <h3>
      <%= link_to "#{park.name}", park %>
      (<%= link_to 'Edit', edit_park_path(park) %> |
      <%= link_to 'Remove', park, method: :delete, data: { confirm: 'Are you sure?' } %>)
    </h3>

    Address: <%= park.address %>
    <br>
    <br>
  <% end %>

  <br>
</div>
