<!-- View for Parks.index -->

<div class='contents'>
  <p id="notice"><%= notice %></p>

  <!-- <div class='add-new'>
    <%= link_to 'Add a New Park', new_park_path %>
  </div> -->

  <h1>Parks</h1>

  <div class = 'display-cards'>
    <% @parks.each do |park| %>
      <%= link_to park do %>
        <div class='card'>
          <%= image_tag 'ParkProfile.svg' %>
          <span style='font-size: 30px;'>
            <%= park.name %>
          </span>
          <span style='font-size: 15px; padding-top: 20px;'>
            <%= park.address %>
          </span>
        </div>
      <% end %>
    <% end %>

    <% if current_user %>
      <%= link_to '/parks/new' do %>
        <div class='card'>
          <%= image_tag 'ParkProfile.svg' %>
          <span style ='font-size:80px;font-weight: 100; position: relative; top: -60px; text-align: center;'>
            +
          </span>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
