<!-- Show Park View -->
<div class="contents">

  <p id="notice"><%= notice %></p>

  <div style='display: flex'>
    <h1>
      <%= @park.name %>
    </h1>

    <% if current_user %>
    <span style='margin-top: 25px;'>
      (<%= link_to 'Edit', edit_park_path(@park) %> |
      <%= link_to 'Remove', @park, method: :delete, data: { confirm: 'Are you sure?' } %>)
    </span>
    <% end %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= @park.address %>
    <br>
    <br>

    <!-- <strong>Is there an off-lead area?</strong> -->
    <%=
    if @park.offlead ==1
      "There is an off-lead area."
    else
      "There is no off-lead area."
    end
    %>
    <br><br>
    <!-- <strong>Is the park fully fenced?</strong> -->
    <%=
    if @park.fence == 1
      "The park is fully-fenced."
    else
      "The park is not fully fenced."
    end
    %>
    <br>
    <br>
    <!-- <strong>Are doggy bags provided?</strong> -->
    <%=
      if @park.bag == 1
        "Dog bags are provided."
      else
        "No dog bags provided."
      end
    %>
    <br>
    <br>
  </div>

  <br>
  <br>


  <div class = 'display-cards'>
    <% @park.dogs.each do |dog| %>
      <%= link_to dog do %>
        <div class='card'>
              <p style='font-size: 30px; text-align: center; padding: 0; margin-bottom: 5px;'>
                <%= dog.name %>
              </p>
              <p style='font-size: 15px; text-align: center; padding: 0;'>
                <%= dog.walks.find_by(park: @park).time %>
              </p>
        </div>
      <% end %>
    <% end %>


    <% if current_user %>

        <%= link_to "/parks/#{@park.id}/new_dog" do %>
          <div class='card'>
            <p style ='font-size:80px; font-weight: 100; margin: 0; line-height:80px; width: 300px; text-align: center;'>
              +
            </p>
          </div>
        <% end %>
        <!-- <%= form_tag(controller: "parks", action: "add_dog", method: "post") do  %>

          <div style='display: flex; flex-direction: row;  height: 100px; align-items: center; justify-content: center;'>
            <div class="field" style=' text-align: center; padding: 0px; padding-top:40px; margin: 0px;'>
              <%= select_tag( :dog_name,
              options_for_select((@user.dogs - @park.dogs).collect{ |dog| [dog.name, dog.name]}),
              {:style => 'width:180px; background-color:white;'})
              %>
              <p id="error"><%= flash[:error] %></p>
            </div>

            <div style='text-align: center; padding: 0; padding-left:20px;'>
              <%= submit_tag "Add Dog" %>
            </div>
          </div>

        <% end %> -->

    <% end %>

  </div>
</div>
