<!-- Parks View -->

<div class="contents">

  <p id="notice"><%= notice %></p>

  <h1>
    <%= @park.name %>
  </h1>

  <div>
    <strong>Address:</strong>
    <%= @park.address %>
    (<%= link_to 'Edit', edit_park_path(@park) %>)
  </div>

  <div>
    <strong>Is there an off-lead area?</strong>
    <%=
      if @park.offlead
        "Yes"
      else
        "No"
      end
    %>
    <br>
    <br>
    <strong>Is the park fully fenced?</strong>
    <%=
      if @park.fence
        "Yes"
      else
        "No"
      end
    %>
    <br>
    <br>
    <strong>Are doggy bags provided?</strong>
    <%=
      if @park.bag
        "Yes"
      else
        "No"
      end
    %>
    <br>
    <br>
  </div>

  <br>
  <br>

  <h2> Local Dogs </h2>
  <div>
    <% @park.dogs.each do |dog| %>
      <%= link_to dog.name.strip, dog %>
      <% if dog.authorize(@user) %>
        <%= link_to "(remove)", "/parks/#{@park.id}/#{dog.id}", method: :delete,
        data: { confirm: 'Are you sure you want to remove this dog from the park?' } %>
      <% end %>
      <br>
    <% end %>
  </div>

  <div class='add-dog'>
    <%= form_tag(controller: "parks", action: "add_dog", method: "post") do %>
      <div class="field">
        <%= label_tag :dog_name, "Dog Name" %>
        <%= select_tag :dog_name, options_for_select((@user.dogs - @park.dogs).collect{ |dog|
          [dog.name, dog.name]
          }) %>
        <p id="error"><%= flash[:error] %></p>
      </div>
      <%= submit_tag "Add Dog" %>

    <% end %>
  </div>
</div>
