<!-- Show Park View -->
<div class="contents">

  <p id="notice"><%= notice %></p>

  <div style='display: flex'>
    <h1>
      <%= @park.name %>
    </h1>

    <% if current_user %>
    <span style='margin-top: 25px;'>
      (<%= link_to 'Edit', edit_park_path(@park) %> |
      <%= link_to 'Remove', @park, method: :delete, data: { confirm: 'Are you sure?' } %>)
    </span>
    <% end %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= @park.address %>
  </div>

  <div style='display:flex'>
    <div>

      <% if @park.latitude %>
        <div id="map" style="height:300px; width:500px;"></div>
      <% end %>

      <br>
      <br>

      <!-- <strong>Is there an off-lead area?</strong> -->
      <%=
      if @park.offlead ==1
        "There is an off-lead area."
      else
        "There is no off-lead area."
      end
      %>
      <br><br>
      <!-- <strong>Is the park fully fenced?</strong> -->
      <%=
      if @park.fence == 1
        "The park is fully-fenced."
      else
        "The park is not fully fenced."
      end
      %>
      <br>
      <br>
      <!-- <strong>Are doggy bags provided?</strong> -->
      <%=
        if @park.bag == 1
          "Dog bags are provided."
        else
          "No dog bags provided."
        end
      %>
      <br>
      <br>
    </div>

    <br>
    <br>


    <div class = 'display-cards'>
      <% @park.dogs.each do |dog| %>
        <%= link_to dog do %>
          <div class='card'>
            <%= image_tag 'DogProfile.svg' %>
            <span style='font-size: 30px; text-align: center; padding: 0; margin-bottom: 5px;'>
              <%= dog.name %>
            </span> <br>
            <span style='font-size: 15px; text-align: center; padding: 0;'>
              <%= dog.walks.find_by(park: @park).time %>
            </span>
          </div>
        <% end %>
      <% end %>


      <% if current_user %>
        <!-- if the user has no dogs (that have not yet been added to the park) -->
        <% if (current_user.dogs - @park.dogs).present? %>
          <%= link_to "/parks/#{@park.id}/new_dog" do %>
            <div class='card'>
              <%= image_tag 'DogProfile.svg' %>
              <span style ='font-size:80px; font-weight: 100; position: relative; top: -60px; text-align: center;'>
                +
              </span>
            </div>
          <% end %>

        <% else %>
          <%= link_to "/dogs/new" do %>
            <div class='card'>
              <%= image_tag 'DogProfile.svg' %>
              <span style ='font-size:80px; font-weight: 100; position: relative; top: -60px; text-align: center;'>
                +
              </span>
            </div>
          <% end %>
          
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<script>

  function initMap() {
    var locationMarker = {lat: <%= @park.latitude || 0 %>, lng: <%= @park.longitude || 0 %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: locationMarker
    });

    var marker = new google.maps.Marker({
      position: locationMarker,
      map: map
    });

  }

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn3iZ9nsi06L5zuIqYTrK5StMaSBufPS4&callback=initMap">
</script>
