<p id="notice"><%= notice %></p>

<div class = 'contents'>
  <h1 id='dogs'>Dogs</h1>


      <% @dogs.each do |dog| %>
          <p>
            <%= dog.name.strip %>   the
            <%= dog.age %>          year old
            <%= dog.breed.strip %>.
            <br>
            <%= link_to "Get to know #{dog.name.strip}", dog %> |
            <%= link_to "Edit #{dog.name.strip}'s details", edit_dog_path(dog) %> |
            <%= link_to "#{dog.name.strip} wants some space", dog, method: :delete, data: { confirm: 'Are you sure you want to remove this dog\'s info?' } %>
          </p>


          <p></p>
          <p></p>
          <p></p>

      <% end %>

<br>

<%= link_to 'Add your dog to Parkr', new_dog_path %>

</div>
