<!-- View for Show Dog -->
<div class='contents'>
  <p id="notice"><%= notice %></p>

  <div style='display: flex'>
    <h1>
      <%= @dog.name %>
    </h1>

    <span style='margin-top: 25px;'>
      <% if @dog.authorize(@user) %>
        (<%= link_to 'Edit', edit_dog_path(@dog) %> |
        <%= link_to "Remove", @dog, method: :delete, data: { confirm: 'Are you sure you want to remove this dog\'s info?' } %>)
      <% end %>
    </span>
  </div>



  <div>
    <div style='font-size:24px'>
      <%= @dog.name %>
      is
      <%= @dog.age.to_s.with_indefinite_article %>
      year old
      <%= @dog.breed %>
      owned by
      <%= @dog.owner %>.

      <br><br><br>
    </div>
    <strong>  About: </strong>
    <%= @dog.about %>
  </div>

  <br><br>

  <h3 style='margin-bottom: 40px;'> Favourite Parks: </h3>

  <div class = 'display-cards'>
    <% @dog.parks.each do |park| %>
      <%= link_to park do %>
        <div class='card'>
          <%= image_tag 'ParkProfile.svg' %>
              <span style='font-size: 30px;'>
                <%= park.name %>
              </span>
          <br>
          <%= park.address %>
          <br>
          <% if current_user && @dog.authorize(current_user) %>
          <%= link_to "(Leave this park)", "/parks/#{park.id}/#{@dog.id}", method: :delete,
            data: { confirm: "Are you sure you want to remove #{@dog.name} dog from the park?" } %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>




</div>
