

<div class='contents'>
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @dog.name %>
  </h1>

  <div>
    <p>
      <%= @dog.name %>
      is
      <%= @dog.age.to_s.with_indefinite_article %>
      year old
      <%= @dog.breed %>
      .
      (<%= link_to 'Edit', edit_dog_path(@dog) %>)
    </p>
    <p>
      <%= @dog.about %>
    </p>
  </div>


</div>
