<div class='contents'>

  <h1>Create an Account</h1>

  <div class='form'>
    <%= form_for :user, url: '/users' do |form| %>

      <div class='row'>
        <%= form.label :name %>
        <span class='required-star'>
          *
        </span>
        <%= form.text_field( :name, id: :user_name, :required => true) %>
      </div>

      <div class='row'>
        <%= form.label :email %>
        <span class='required-star'>
          *
        </span>
        <%= form.text_field( :email, id: :user_email, :required => true) %>
      </div>


      <div class='row'>
        <%= form.label :password %>
        <span class='required-star'>
          *
        </span>
        <%= form.text_field( :name, id: :user_password, :required => true) %>
      </div>


      <div class='row'>
        <%= form.label :password_confirmation %>
        <span class='required-star'>
          *
        </span>
        <%= form.text_field( :name, id: :user_password_confirmation, :required => true) %>
      </div>

      <%= form.submit "Submit" %>
    <% end %>
  </div>

</div>
