<!-- View for User Profile -->

<div class='contents'>

  <h1><%= @user.name %></h1>

  <h3>My dogs:</h3>

  <div class = 'display-cards'>
    <% @user.dogs.each do |dog| %>
      <%= link_to dog do %>
        <div class='card'>
          <%= image_tag 'DogProfile.svg' %>
          <span style='font-size: 30px; text-align: center; padding: 0;'>
            <%= dog.name %>
          </span>
        </div>
      <% end %>
    <% end %>

    <%= link_to (new_dog_path) do %>
      <div class='card'>
        <%= image_tag 'DogProfile.svg' %>

        <span style ='font-size:80px;font-weight: 100; position: relative; top: -60px; text-align: center;'>
          +
        </span>
      </div>
    <% end %>
  </div>


  <h3 style='margin-bottom: 40px;'>My favourite parks:</h3>

  <div class = 'display-cards'>
    <% @user.parks.each do |park| %>
      <%= link_to park do %>
        <div class='card'>
          <%= image_tag 'ParkProfile.svg' %>
              <span style='font-size: 30px;'>
                <%= park.name %>
              </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
