<!-- Sidebar View -->
<div id='sidebar' style = 'display: flex; flex-direction: column;'>



  <%= link_to "/" do %>
    <div style='width: 80px;'>
      <%= image_tag 'greyhound.svg' %>
    </div>
    <div>
      ParkPups
    </div>
  <% end %>

  <div style = 'margin-top: 40px;'>
    <%= link_to 'All Parks', parks_path %>
  </div>

  <div style = 'margin-top: auto; margin-bottom: 80px;'>
    <% if current_user %>
        <%= link_to 'Profile', '/profile' %>
        <br><br>
        <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %>
      <br><br>
      <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>
