<!-- Topbar View -->
<div id='topbar' style = 'display: flex; flex-direction: row;'>



  <%= link_to "/" do %>
    <div>
      <%= image_tag 'greyhound.svg' %>
    </div>
    <div>
      ParkPups
    </div>
  <% end %>

  <div style = 'margin-left: 40px;'>
    <%= link_to 'All Parks', parks_path %>
  </div>

  <div style = 'margin-left: auto; margin-right: 80px;'>
    <% if current_user %>
        <%= link_to 'My Profile', '/profile' %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>
</div>
